@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Orbitron:wght@600;700&display=swap');

body {
    background: #141414;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #F6F6F6;
}

span {
    color:rgb(248, 74, 234);
}

footer {
    position: absolute;
    bottom: 0;
    color: #F6F6F6;
    font-size: 14px;
    margin: 8px;
}

footer a {
    color: #FFFFFF;

}

footer svg {
    margin-bottom: -5px !important;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qrcode {
    padding: 16px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(248, 49, 231), rgb(24, 28, 228)) 1;
    background: #FFFFFF;
}

.input {
    height: 38px;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    padding: 8px;
    margin: 22px;
    font-size: 15px;
    outline: none;
    border: 1px solid #b6b6b6;
    color: #FFFFFF;
    background-color: #191919;
    font-family: 'Montserrat', sans-serif;

    &:focus {
        outline: none;
        background-color: #1d1c1c;
        box-shadow: inset 0 -2px 0  rgb(24, 28, 228);

    }
}

.button {
    background-color: rgb(245, 55, 229);
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-size: 16px;
	padding: 16px 98px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #191919;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

    &:hover {
        background-color:rgb(248, 74, 234);
    }
}

a.disabled {
    pointer-events: none;
}

.input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 300px) {
    h1 {
        font-size: 1.2rem;
    }

    .input {
        width: 80%;
    }

    .button {
        font-size: 14px;
        padding: 16px 50px;
    }

    footer {
        font-size: 12px;
        margin: 4px;
    }
}